<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>All Ingredients</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="index-header">
    <h1>All Ingredients</h1>
    <a href="/ingredients/new">+ Add Ingredient</a>
  </div>
  <div class="card-container">
    <% ingredients.forEach((ingredient)=> { %>
    <div class="new-form-container">
      <h4><%= ingredient.name %> Ingredient</h4>
      <form action="/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= ingredient.name %></button>
      </form>
    </div>
    <% }) %>
  </div>
</body>

</html>