<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../stylesheets/style.css">
  <title>New recipes</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="new-container">
    <div class="new-form-container">
      <h1>New recipe</h1>
      <form action="/recipes" method="POST">
        <label for="name">Recipe Name:</label>
        <input type="text" name="name" id="name" />
        <label for="instructions">Instructions:</label>
        <input type="text" name="instructions" id="instructions" />
        <button type="submit">Add recipe</button>
      </form>
    </div>
  </div>
</body>

</html>